<h1>This is campgrounds Page..</h1>

<a href="/campgrounds/new" method="POST"> Create new campgrounds</a>

<% campgrounds.forEach(function(campgrounds){%>
    <div>
        <h4><%= campgrounds.name %></h4>
        <img src="<%=campgrounds.image%>" alt="">
    </div>

    <%})%>