<% include partials/header %>
    
    <h1> 
        <%=campground.name%> 
    </h1>
    
    <img style="width: 600px;" src="<%=campground.image%>" alt="">
    
    <p> 
        <%=campground.description%> 
    </p>





<% include partials/footer %>