<% include partials/header %>

    <div class="container">
        <div class="jumbotron">
            <div class="container">
                <h1>This is campgrounds Page..</h1>
                <p>View our hand-picked campgrounds from all over the world</p>
                <p>
                    <a class="btn btn-primary btn-lg" href="/campgrounds/new" method="POST"> Create new campgrounds</a>
                </p>
            </div>
        </div>
        <div class="row text-center" style="display: flex;flex-wrap: wrap;">
            <!-- <h3>Most Popular campgrounds!</h3> -->
            <% campgrounds.forEach(function(campgrounds){%>
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                        <img style="width: 250px;" src="<%=campgrounds.image%>" alt="">
                        <div class="caption">
                            <h4>
                                <%=campgrounds.name%>
                            </h4>
                        </div>
                        <p>
                            <a class="btn btn-info" href="campgrounds/<%=campgrounds._id%>"> Click</a>
                        </p>
                    </div>

                </div>
                <%})%>
        </div>
    </div>

<% include partials/footer %>